.book-consultation {
	padding-top: 60px;
	padding-bottom: 67px;
	background-image: url(assets/images/Group.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 0;
}
.book-consultation__header {
	text-align: center;
	max-width: 69.625rem;
	margin-left: auto;
	margin-right: auto;
}
.book-consultation__title {
	text-align: center;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: 120.313%;
}
.book-consultation__grid {
	display: grid;
	grid-template-columns: 43rem 1fr;
	gap: 10.125rem;
	margin-top: 2.1875rem;
}
.book-consultation__content {
	padding-top: 63px;
}
.book-consultation__list {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top: 63px;
}
.book-consultation__item {
	display: flex;
	column-gap: 23px;
	align-items: center;
}
.book-consultation__item-number {
	width: 70px;
	height: 70px;
	background: url(./assets/svgs/bg-list.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(0, 0, 0, 0.85);
	text-align: center;
	margin-bottom: 0;
	flex: 0 0 70px;
}
.book-consultation__cta {
	margin-top: 3.125rem;
}
.book-consultation__image-frame {
	min-height: 51.5rem;
}
.book-consultation__image-frame img {
	border-radius: .625rem;
}
.book-consultation__cta .site-btn {
	padding-top: 36px;
	padding-right: 86px;
	padding-bottom: 32px;
	padding-left: 86px;
}
@media only screen and ( max-width: 1399px ) {
	.book-consultation__grid {
		display: grid;
		grid-template-columns: 39rem 1fr;
		gap: 3.125rem;
		margin-top: 2.1875rem;
	}
	.book-consultation__content {
		padding-top: 0;
	}
	.book-consultation__list {
		gap: 2rem;
		padding-top: 32px;
	}
}
@media only screen and ( max-width: 991px ) {
	.book-consultation__grid {
		grid-template-columns: 1fr;
		gap: 40px;
		margin-top: 2.1875rem;
	}
	.book-consultation__list {
		gap: 3rem;
		padding-top: 3rem;
	}
	.book-consultation__cta {
		margin-top: 44px;
	}
	.book-consultation__cta .site-btn {
		width: 100%;
		display: block;
	}
	.book-consultation__media {
		order: -1;
	}
	.book-consultation__image-frame {
		min-height: 769px;
	}
}
@media only screen and ( max-width: 767px ) {
	.book-consultation {
		padding-top: 22px;
		padding-bottom: 48px;
	}
	.book-consultation__list {
		gap: 16px;
		padding-top: 14px;
	}
	.book-consultation__title {
		font-size: 26px;
		line-height: 130%;
	}
	.book-consultation__image-frame {
		min-height: 390px;
	}
	.book-consultation__media {
		margin-left: -16px;
		margin-right: -16px;
	}
	.book-consultation__content {
		margin-top: -14px;
	}
	.book-consultation__cta {
		margin-top: 39px;
	}
	.book-consultation__cta .book-consultation__button {
		font-size: 18px;
		padding-left: 0;
		padding-right: 0;
		padding-top: 18px;
		padding-bottom: 18px;
		line-height: 155.556%;
		letter-spacing: -0.54px;
	}

}



/*
============================================================
Leading Doctors Style Start
============================================================
*/
.leading-doctors__inner {
	border-bottom: .3125rem solid #E9EFFA;
	padding-bottom: 3rem;
}
.leading-doctors__header {
	max-width: 69.625rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.leading-doctors__grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	margin-top: 2.5rem;
	gap: 1.25rem;
}
.leading-doctors__card {
	min-width: 0;
	background: linear-gradient(180deg, #E0E9F8 55.29%, #F7F9FB 100%);
}
.leading-doctors__content {
	padding: 1.5rem 1.25rem;
}
.leading-doctors__role p {
  font-style: italic;
}
@media only screen and (max-width: 1199px) {
.leading-doctors__grid {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
}
@media only screen and (max-width: 991px) {
.leading-doctors__grid {
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 1rem;
	margin-top: 2.1875rem;
}
.leading-doctors__inner {
	padding-bottom: 1.5rem;
}
}
@media only screen and (max-width: 767px) {
.leading-doctors__grid {
	grid-template-columns: 1fr;
}
}
/*
============================================================
Leading Doctors Style End
============================================================
*/

/*
============================================================
Medical Review Process Style Start
============================================================
*/
.medical-review-process__panel {
	background-color: var(--bhn-white);
	box-shadow: 0 .25rem .75rem .375rem rgba(0, 0, 0, 0.04);
	padding: 2.5rem 5.4375rem 1.875rem 5.4375rem;
}
.medical-review-process__item-title {
	margin-top: 1.5rem;
}
@media only screen and (max-width: 991px) {
.medical-review-process__grid {
	grid-template-columns: 1fr;
	gap: 4rem;
}
.medical-review-process__panel {
	max-width: 35.875rem;
	margin-left: auto;
	margin-right: auto;
}
}
@media only screen and (max-width: 767px) {
.medical-review-process__cta {
	margin-top: 1.5rem;
}
}
/*
============================================================
Medical Review Process Style End
============================================================
*/

/*
============================================================
Footer Style Start
============================================================
*/
.site-footer {
	background-color: var(--bhn-white);
	padding-top: 4rem;
	padding-bottom: 2.5rem;
	margin-top: 4.625rem;
}
.site-footer__top {
	display: flex;
	gap: 1.875rem;
}
.site-footer__brand-column {
	display: flex;
	flex-direction: column;
	gap: .625rem;
	width: 30%;
}
.site-footer__menu-columns {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
}
.footer-phone-list__item {
	display: flex;
	gap: .5rem;
	flex-wrap: wrap;
}
.footer-social-list__link .footer-social-list__icon {
	width: 2.1875rem;
	height: 2.1875rem;
	transition: 0.3s all ease;
}
.footer-social-list__link:hover .footer-social-list__icon {
	transform: scale(1.1);
}
.footer-phone-list__item img {
	width: 2.75rem;
}
.footer-phone-list__item a {
	text-decoration: underline;
}
.footer-phone-list {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-top: 1.875rem;
}
.site-footer__column-title {
    color: var(--bhn-heading-blue-alt) !important;
}
.footer-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: .625rem;
}
.footer-menu li a {
	color: var(--bhn-black);
	text-decoration: none;
	display: block;
	transition: 0.3s all ease;
}
.footer-menu li a:hover {
	color: var(--bhn-heading-blue-alt);
}
.site-footer__brand-column .site-footer__column-title {
	margin-top: 1.5rem;
}
.footer-social-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.625rem;
}
.footer-social-list a {
	display: flex;
	align-items: center;
	gap: .8125rem;
	text-decoration: none;
	color: var(--bhn-black);
}
.site-footer__disclaimer {
	margin-top: 1.5rem;
}
.site-footer__bottom {
	text-align: right;
	margin-top: -.3125rem;
}
@media only screen and (max-width: 1399px) {
.site-footer__brand-column {
	width: 35%;
}
}
@media only screen and (max-width: 1199px) {
.site-footer__top {
	gap: 3.4375rem;
}
}
@media only screen and (max-width: 768px) {
body {
	font-size: 1.0625rem;
}
.site-footer__top {
	display: block;
}
.site-footer__brand-column {
	flex-direction: row;
	gap: 1.875rem;
	width: auto;
}
.site-footer__brand-column .site-footer__column-title {
	margin-top: 0;
}
.footer-social-list {
	flex-direction: row;
	gap: 1.625rem;
	flex-wrap: wrap;
}
.footer-phone-list {
	margin-top: 2.8125rem;
}
.footer-phone-list__item:last-child {
	display: none;
}
.footer-phone-list__item img {
	display: none;
}
.site-footer__social-box {
	width: 26.875rem;
}
.site-footer__content-column {
	margin-top: 3.875rem;
}
.site-footer__disclaimer {
	margin-top: 1.875rem;
}
.site-footer__bottom {
	margin-top: 1.5rem;
}
}
@media only screen and (max-width: 767px) {
.site-footer {
	padding-bottom: 1.5rem;
}
.site-footer__brand-column {
	width: auto;
	flex-direction: column;
}
.footer-social-list {
	display: block;
	column-count: 2;
}
.footer-phone-list__item:last-child {
	display: inherit;
}
.footer-phone-list__item img {
	display: block;
}
.footer-phone-list {
	margin-top: 1.75rem;
}
.footer-social-list li:not(:last-of-type) {
	margin-bottom: 1.375rem;
}
.site-footer__content-column {
	margin-top: 1.875rem;
}
.site-footer__menu-columns {
	grid-template-columns: 1fr 1fr;
}
}
/*
============================================================
Footer Style End
============================================================
*/
