.topic-hub {
    padding-top: 3.75rem;
}
.topic-card.topic-card--featured {
    margin-top: 1.5625rem;
}
.topic-card__media img {
    height: 28.25rem;
    object-fit: cover;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.topic-card__link {
    position: relative;
    display: block;
}
.topic-card__media {
    position: relative;
}
.topic-card__media:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(26, 26, 26, 0.95) 36.54%);
}
.topic-card__media img {
	width: 100%;
}
.topic-card__content {
  position: absolute;
  top: 1.5625rem;
  left: 1.875rem;
  right: 1.875rem;
  bottom: 1.1875rem;
}
.topic-card__label {
  color: #325695;
  background-color: var(--bhn-white);
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: .125rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.1875rem;
}
/*
============================================================
Footer Style Start
============================================================
*/
.site-footer {
	background-color: var(--bhn-white);
	padding-top: 4rem;
	padding-bottom: 2.5rem;
}
.site-footer__top {
	display: flex;
	gap: 1.875rem;
}
.site-footer__brand-column {
	display: flex;
	flex-direction: column;
	gap: .625rem;
	width: 30%;
}
.site-footer__menu-columns {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.footer-phone-list__item {
	display: flex;
	gap: .5rem;
	flex-wrap: wrap;
}
.footer-phone-list__item img {
	width: 2.75rem;
}
.footer-phone-list {
	display: flex;
	flex-direction: column;
	gap: 1.375rem;
	margin-top: 1.25rem;
}
.site-footer__column-title {
    color: var(--bhn-heading-blue-alt) !important;
}
.footer-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: .625rem;
}
.footer-menu li a {
	color: var(--bhn-black);
	text-decoration: none;
	display: block;
	transition: 0.3s all ease;
}
.footer-menu li a:hover {
	color: var(--bhn-heading-blue-alt);
}

.site-footer__brand-column .site-footer__column-title {
	margin-top: 1.25rem;
}
.footer-social-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: -.625rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.footer-social-list a {
	display: flex;
	align-items: center;
	gap: .8125rem;
	text-decoration: none;
	color: var(--bhn-black);
}
.site-footer__disclaimer {
	margin-top: 1.5rem;
}
.site-footer__bottom {
	text-align: right;
}
@media only screen and (max-width: 1399px) {
.site-footer__brand-column {
	width: 35%;
}
}
@media only screen and (max-width: 1199px) {
.site-footer__top {
	gap: 3.4375rem;
}
}
/*
============================================================
Footer Style End
============================================================
*/
