/*
============================================================
Footer Style Start
============================================================
*/
.site-footer {
	background-color: var(--bhn-white);
	padding-top: 4rem;
	padding-bottom: 2.5rem;
}
.site-footer__top {
	display: flex;
	gap: 1.875rem;
}
.site-footer__brand-column {
	display: flex;
	flex-direction: column;
	gap: .625rem;
	width: 30%;
}
.site-footer__menu-columns {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
}
.footer-phone-list__item {
	display: flex;
	gap: .5rem;
	flex-wrap: wrap;
}
.footer-phone-list__item img {
	width: 2.75rem;
}
.footer-phone-list {
	display: flex;
	flex-direction: column;
	gap: 1.375rem;
	margin-top: 1.25rem;
}
.site-footer__column-title {
    color: var(--bhn-heading-blue-alt) !important;
}
.footer-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: .625rem;
}
.footer-menu li a {
	color: var(--bhn-black);
	text-decoration: none;
	display: block;
	transition: 0.3s all ease;
}
.footer-menu li a:hover {
	color: var(--bhn-heading-blue-alt);
}

.site-footer__brand-column .site-footer__column-title {
	margin-top: 1.25rem;
}
.footer-social-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: -.625rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.footer-social-list a {
	display: flex;
	align-items: center;
	gap: .8125rem;
	text-decoration: none;
	color: var(--bhn-black);
}
.site-footer__disclaimer {
	margin-top: 1.5rem;
}
.site-footer__bottom {
	text-align: right;
}
@media only screen and (max-width: 1399px) {
.site-footer__brand-column {
	width: 35%;
}
}
@media only screen and (max-width: 1199px) {
.site-footer__top {
	gap: 3.4375rem;
}
}
@media only screen and (max-width: 768px) {
body {
	font-size: 1.0625rem;
}
.site-footer__top {
	display: block;
}
}
@media only screen and (max-width: 767px) {
.site-footer__brand-column {
	width: auto;
}
.footer-social-list {
	display: block;
	column-count: 2;
}
.footer-social-list li:not(:last-of-type) {
	margin-bottom: 1.375rem;
}
.site-footer__content-column {
	margin-top: 1.25rem;
}
}
/*
============================================================
Footer Style End
============================================================
*/
