/*
============================================================
Topic Hub Style Start
============================================================
*/

.topic-hub {
    padding-top: 3.4375rem;
}
.topic-card--featured {
	margin-top: 1.4375rem;
}
.topic-hub__featured-row {
    position: relative;
}
.topic-hub__featured-row::after {
	position: absolute;
	top: 0;
	left: 50%;
	content: '';
	width: .0625rem;
	height: calc(100% + 3.25rem); /* 52px */
	background: #808080;
}
.topic-featured-article .topic-card__link, 
.topic-featured-research .topic-card__link {
	display: grid;
	grid-template-columns: 1fr;
	align-items: end;
	text-decoration: none;
	color: #fff;
	position: relative;
}
.topic-featured-article .topic-card__media, 
.topic-featured-research .topic-card__media {
    grid-column: 1;
    grid-row: 1;
    height: 28.25rem;
    border-radius: .25rem;
    overflow: hidden;
    position: relative;
    z-index: -1;
}
.topic-featured-article .topic-card__content,
.topic-featured-research .topic-card__content {
    grid-column: 1;
    grid-row: 1;
    padding: 1.5625rem 1.875rem 1.25rem 1.875rem; /* 25px 30px 20px 30px */
}
.topic-featured-article .topic-card__media::after,
.topic-featured-research .topic-card__media::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 28.25rem;
    top: 0;
    left: 0;
    background: linear-gradient( 180deg, rgba(0, 0, 0, 0.00) 0%, rgba(26, 26, 26, 0.95) 36.54%);
}
.topic-featured-article .topic-card__label,
.topic-featured-research .topic-card__label {
    position: absolute;
    top: 1.5625rem; /* 25px */
    left: 1.875rem; /* 30px */
    background: var(--bhn-white);
    color: #325695;
    border-radius: .125rem;
    font-size: 1.125rem; /* 18px */
    line-height: 105.556%; /* 19px */
    font-weight: 500;
    padding: .688rem 1.25rem .625rem 1.25rem; /* 11px 20px 10px 20px */
}
.topic-card__title {
    color: #E6E6E6;
    margin-bottom: .375rem;
}
.topic-card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.9375rem;
}
.topic-card--latest .topic-card__footer {
    margin-top: auto;
    padding-top: 2.9375rem;
}
.topic-card__author {
	margin-bottom: .4375rem;
	font-size: 1.25rem;
	font-style: italic;
}
.topic-card__date {
    font-size: 1rem;
    font-style: italic;
    line-height: 118.75%;
    font-weight: 400;
}
.topic-card__arrow {
    transition: all .3s ease;
    transform: translateX(0);
}
.topic-card__link:hover .topic-card__arrow {
	transform: translateX(.375rem);
}

@media only screen and (max-width:1799px) {
    .topic-hub__featured-row {
        gap: 12rem; /* 192px */
    }
}
@media only screen and ( max-width: 1399px ) {
    .topic-hub__featured-row {
        gap: 8rem;
    }
}

@media only screen and ( max-width: 1199px ) {
    .topic-hub__featured-row {
        gap: 6rem;
    }
}

@media only screen and ( max-width: 991px ) {

    .topic-hub {
        padding-top: 3.75rem;
    }
    .topic-hub__featured-row {
        column-gap: 0;
        row-gap: 4rem; /* 64px */
        grid-template-columns: 1fr;
    }
    .topic-hub__featured-row::after {
        display: none;
    }
}

@media only screen and ( max-width: 767px ) {

    .topic-hub {
        padding-top: 2.1875rem; /* 35px */
    }
    .topic-hub__featured-row {
        row-gap: 1.875rem; /* 30px */
    }
    .topic-featured-research .section-title {
        margin-bottom: 0;
    }
    .topic-card--featured {
        margin-top: .625rem;
    }
    .topic-featured-article .topic-card__media, 
    .topic-featured-research .topic-card__media {
        height: 20.5rem; /* 328px */
    }
    .topic-featured-article .topic-card__content, 
    .topic-featured-research .topic-card__content {
        padding-left: 1.25rem; /* 20px */
        padding-right: 1.25rem; /* 20px */
        padding-bottom: .9375rem; /* 15px */
    }
    .topic-card__label {
        top: 1rem; /* 16px */
        left: 1.25rem; /* 20px */
    }
    .topic-card__title {
        font-size: 1.1875rem; /* 19px */
        line-height: 147.368%; /* 28px */
    }
    .topic-card__footer {
        margin-top: .75rem; /* 12px */
    }
    .topic-card__excerpt p {
        font-size: 1.125rem; /* 18px */
    }
    .topic-card__author {
        font-size: 1rem; /* 16px */
        margin-bottom: .0625rem; /* 1px */
    }
}

/*
============================================================
Topic Hub Style End
============================================================
*/


/*
============================================================
Topic Latest Articles Style Start
============================================================
*/
.topic-latest-articles {
	margin-top: 6.125rem;
}
.topic-latest-articles__items {
	margin-top: 1.375rem;
    gap: 1.25rem;
}
.topic-latest-articles__item {
    display: flex;
}
.topic-latest-articles__item .topic-card--latest {
    display: flex;
    width: 100%;
}
.topic-card--latest .topic-card__link {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-decoration: none;
}
.topic-latest-articles__item .topic-card__content {
	border-radius: .25rem;
	border: .125rem solid #EFEFEF;
	background: linear-gradient(0deg, #F2F6FA 0%, #DDEBFF 100%);
	margin-top: -0.25rem;
	position: relative;
	z-index: -1;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 1.3125rem;
	padding-bottom: 1.625rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.topic-latest-articles__item .topic-card__media {
    height: 15.5rem;
    border-radius: .25rem;
    overflow: hidden;
}
.topic-card--latest .topic-card__link {
    position: relative;
}
.topic-card--latest .topic-card__label {
    font-size: 1rem;
    font-weight: 600;
    line-height: 157.5%;
    font-family: var(--bhn-font-heading);
}
.topic-card--latest .topic-card__title {
    color: var(--bhn-black);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-top: 1.1875rem;
}
.topic-card--latest .topic-card__excerpt {
    margin-top: .9375rem;
    color: var(--bhn-heading);
}
.topic-card--latest .topic-card__footer p {
    color: var(--bhn-heading);
    margin-bottom: 0;
}
.topic-card--latest .topic-card__arrow svg path {
    fill: #325695;
    stroke: #325695;
}
.pagination {
	margin-top: 3.625rem;
}
.pagination .page-numbers {
	column-gap: 1.25rem;
}
.pagination .page-numbers .page-numbers, .pagination .page-numbers .page-numbers {
    font-family: var(--bhn-font-body);
    color: var(--bhn-heading);
	background: var(--bhn-pagination);
	width: 4.25rem;
	height: 3.375rem;
	border-radius: 3.125rem;
	font-weight: 400;
}
.pagination .page-numbers .page-numbers.current {
	color: var(--bhn-white);
	background-color: var(--bhn-pagination-active);
	font-weight: 400;
}
.pagination .page-numbers .prev, .pagination .page-numbers .next {
	background: var(--bhn-accent);
	color: var(--bhn-white);
	opacity: 0.92;
}
.pagination .page-numbers .prev {
	margin-right: 4.5625rem;
}
.pagination .page-numbers .next {
	margin-left: 4.5625rem;
}
.pagination .page-numbers .prev svg, .pagination .page-numbers .next svg{
    transition: all .3s ease;
}
.pagination .page-numbers .next:hover svg {
	transform: translateX(.375rem);
}
.pagination .page-numbers .prev:hover svg {
	transform: translateX(-0.375rem);
}
.pagination .page-numbers .prev svg, .pagination .page-numbers .next svg {
	width: 1.5rem;
	height: 1.5rem;
}

@media only screen and (max-width: 991px) {
    .pagination .page-numbers .prev {
        margin-right: .625rem;
    }
    .pagination .page-numbers .next {
        margin-left: .625rem;
    }

}
@media only screen and (max-width: 767px) {
    .topic-latest-articles__items {
        padding-bottom: 0;
    }
    .topic-latest-articles {
        margin-top: 3.9375rem;
    }
    .topic-card--latest .topic-card__excerpt {
        margin-top: 1.4375rem;
    }
    .topic-card--latest .topic-card__footer {
        padding-top: 3rem;
    }
    .pagination {
        margin-top: 1rem;
    }
    .topic-latest-articles__item .topic-card__content {
        padding-left: .9375rem;
        padding-right: .9375rem;
    }

}

/*
============================================================
Topic Latest Articles Style End
============================================================
*/


/*
============================================================
Topic Community Style Start
============================================================
*/

.topic-community__content {
	color: var(--bhn-white);
	display: grid;
	grid-template-columns: 1fr 34.0625rem;
	column-gap: 10.0625rem;
	padding-top: 5.5rem;
	padding-bottom: 5.8125rem;
	align-items: center;
}
.topic-community__title {
    color: var(--bhn-font-body);
}
form .topic-community__input {
	background: #FFFFFF;
	border: .0625rem solid #CFCFCF;
	color: black;
	font-size: 1.25rem;
	line-height: 150%;
}
.topic-community__button {
	background: #D55918;
	width: 100%;
	border-radius: .25rem;
	border: none;
	padding-top: .6875rem;
	padding-bottom: .6875rem;
	color: #fff;
	margin-top: 1.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 200%;
	cursor: pointer;
	font-family: var(--bhn-font-body);
}
.topic-community__title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 120.313%;
}
.topic-community__description p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 150%;
    margin-top: 1.25rem;
}
@media only screen and ( max-width: 1599px ) {
        .topic-community__content {
        grid-template-columns: 1fr 28.125rem;
        column-gap: 5rem;
    }
    .topic-community__title {
        font-size: 3rem;
    }
}
@media only screen and ( max-width: 1199px ) {
        .topic-community__content {
        grid-template-columns: 1fr 21.875rem;
        column-gap: 3.125rem;
        padding-top: 2.875rem;
        padding-bottom: 2.875rem;
    }
    .topic-community__title {
        font-size: 2.875rem;
        line-height: 125.217%;
    }
    .topic-community__description p {
        font-size: 1.5rem;
        line-height: 150%;
        margin-top: 1.25rem;
    }
}
@media only screen and ( max-width: 991px ) {
    .topic-hub__community-row {
        margin-top: 5.1875rem;
    }
        .topic-community__content {
        grid-template-columns: 1fr;
        column-gap: 3.125rem;
        padding-top: 2.875rem;
        padding-bottom: 2.875rem;
    }
    .topic-community__title {
        font-size: 2.875rem;
        line-height: 125.217%;
    }
    .topic-community__description p {
        font-size: 1.5rem;
        line-height: 150%;
        margin-top: 1.25rem;
    }
    .topic-community__form-placeholder {
        display: grid;
        grid-template-columns: 1fr 16.9375rem;
        column-gap: 1.5rem;
    }
    .topic-community__button {
        margin-top: 0;
    }
    .topic-community__form {
       margin-top: 1.9375rem;
    }
}
@media only screen and ( max-width: 767px ) {
    .topic-hub__community-row {
        margin-top: 4rem;
    }
    .topic-community__content {
        padding-top: 2.4375rem;
        padding-bottom: 3rem;
    }
    .topic-community__title {
        font-size: 1.5625rem;
        line-height: 145.6%;
        margin-bottom: 0;
    }
    .topic-community__description p {
        font-size: 1.125rem;
        line-height: 144.444%;
        margin-top: .625rem;
    }
    .topic-community__form-placeholder {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
    form .topic-community__input {
        font-size: 1.125rem;
        line-height: 144.444%;
        letter-spacing: -0.0338rem;;
    }
    
}


/*
============================================================
Topic Community Style End
============================================================
*/


/*
============================================================
Author Archive Style Start
============================================================
*/
.author-archive {
	background: #FAFAFC;
	margin-top: 0;
	padding-top: 5.625rem;
    padding-bottom: 5.625rem;
}
.author-archive__grid {
    column-gap: 3.1875rem;
	position: relative;
	z-index: 10;
}
.author-archive__articles .author-archive__posts::after {
    position: absolute;
    content: "";
    top: -10.625rem;
    left: -1.25rem;
    width: .0625rem;
    height: 101rem;
    background: #878787;
    z-index: -2;
    bottom: -20%;
}
.author-archive__posts {
    position: relative;
}
.author-archive__job-title {
	font-size: 1.25rem;
}
.author-archive__name {
    font-size: 1.9375rem;
    font-weight: 700;
    line-height: 135.484%;
    margin-bottom: .1875rem;
}
.author-archive__summary {
    margin-top: 2.4375rem;
}
.author-archive__credential-title {
    margin-bottom: .25rem;
}
.author-archive__credential-content > ul {
    margin: 0;
}
.author-archive__credential-block + .author-archive__credential-block {
	margin-top: 1.125rem;
}
.author-archive__social {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-top: 0.75rem;
    justify-content: center;
}
.author-archive__social-link {
	width: 1.5rem;
	height: 1.5rem;
}
.author-archive__content-title {
    margin-top: 2.5rem;
}
.author-archive__content-block + .author-archive__content-block {
	margin-top: 2.75rem;
}
.author-archive__content-block .author-archive__content h2 {
    margin-bottom: .3125rem;
    margin-top: 3rem;
}
.author-archive__articles .pagination {
	margin-top: 2.5rem;
}
@media only screen and ( max-width: 1199px ) {
    .author-archive__grid {
        grid-template-columns: 1fr;
        row-gap: 4.375rem;
    }
    .author-archive__articles .author-archive__posts::after{
        display: none;
    }
}
@media only screen and ( max-width: 991px ) {
    .author-archive__grid {
        row-gap: 3.3125rem;
    }
    .author-archive {
        padding-top: 3.4375rem;
        padding-bottom: 6.5625rem;
    }
    .author-archive__articles .pagination {
        margin-top: 1.375rem;
    }

}
@media only screen and ( max-width: 767px ) {
    .author-archive__articles .pagination {
        margin-top: .6875rem;
    }
    .author-archive__grid {
        row-gap: 2.6875rem;
    }
    .author-archive__name {
        font-size: 1.3125rem;
        line-height: 146.667%;
    }
    .author-archive__summary {
        grid-template-columns: 1fr;
    }
    .author-archive__media {
       width: 6.9375rem;
       position: relative;
    }
    .author-archive__profile-header {
        width: 67%;
        position: absolute;
        top: 3.3125rem;
        right: 0;
    }
    .author-archive {
        padding-top: 0;
        padding-bottom: 3.125rem;
    }
    .page-title.author-archive__name {
        font-size: 1.3125rem;
        line-height: 146.667%;
    }
    .author-archive__job-title {
        font-size: 1.125rem;
        line-height: 144.444%;
    }
    .author-archive__profile-column {
        position: relative;
        margin-top: -0.625rem;
    }
    .author-archive__social {
        position: absolute;
        left: 7.75rem;
        bottom: -0.75rem;
    }
    .author-archive__social-link {
        width: .9375rem;
        height: .9375rem;
    }
    .author-archive__credentials {
        margin-top: .625rem;
    }
    .author-archive__credential-title {
        margin-bottom: .0625rem;
    }
    .author-archive__credential-block + .author-archive__credential-block {
        margin-top: .875rem;
    }
    .author-archive__content-title {
        margin-top: .9375rem;
    }
    .author-archive__content-block + .author-archive__content-block {
        margin-top: .9375rem;
    }
    .author-archive__content-block .author-archive__content h2 {
        margin-bottom: .3125rem;
        margin-top: .9375rem;
    }
}


/*
============================================================
Author Archive Style End
============================================================
*/
